In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score, make_scorer
import eli5

Loading data

In [3]:
train_bike = pd.read_csv("train.csv")
#test_bike = pd.read_csv("test.csv")

In [4]:
train_bike["datetime"].head()

0    2011-01-01 00:00:00
1    2011-01-01 01:00:00
2    2011-01-01 02:00:00
3    2011-01-01 03:00:00
4    2011-01-01 04:00:00
Name: datetime, dtype: object

In [5]:
train_bike["datetime"] = pd.to_datetime(train_bike["datetime"])
train_bike["datetime"].describe()

count                   10886
unique                  10886
top       2011-06-09 04:00:00
freq                        1
first     2011-01-01 00:00:00
last      2012-12-19 23:00:00
Name: datetime, dtype: object

In [6]:
def transform_dates(dataframe):
    dataframe["datetime"] = pd.to_datetime(dataframe["datetime"])
    dataframe["dayofweek"] = dataframe["datetime"].dt.dayofweek      #The day of the week with Monday=0, Sunday=6
    dataframe["year"] = dataframe["datetime"].dt.year
    dataframe["month"] = dataframe["datetime"].dt.month
    dataframe["day"] = dataframe["datetime"].dt.day
    dataframe["hour"] = dataframe["datetime"].dt.hour
    return dataframe

In [7]:
train_bike = transform_dates(train_bike)

In [8]:
X = train_bike.drop(["count", "casual", "registered", "datetime"], axis = 1)
y = train_bike["registered"]

In [9]:
from sklearn.model_selection import train_test_split #dzielnie na zetsawy
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, random_state=42)

In [10]:
X_train

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,dayofweek,year,month,day,hour
1101,1,0,1,3,17.22,21.210,0,15.0013,3,2011,3,10,12
4194,4,0,1,1,21.32,25.000,59,7.0015,3,2011,10,6,19
10389,4,0,0,1,11.48,13.635,81,12.9980,6,2012,11,18,7
6969,2,0,0,1,25.42,30.305,22,19.9995,6,2012,4,8,17
313,1,0,1,1,9.02,9.850,37,26.0027,4,2011,1,14,13
6037,1,0,1,1,15.58,19.695,43,15.0013,1,2012,2,7,19
3557,3,0,1,1,27.06,31.060,69,19.0012,3,2011,8,18,3
4614,4,0,0,1,11.48,12.880,56,22.0028,5,2011,11,5,8
5665,1,0,1,1,8.20,10.605,80,8.9981,2,2012,1,11,5
118,1,0,1,2,6.56,9.850,64,6.0032,3,2011,1,6,4
2022,2,0,1,2,19.68,23.485,88,8.9981,2,2011,5,11,4
10760,4,0,1,1,14.76,17.425,46,8.9981,4,2012,12,14,18
10870,4,0,1,1,9.84,12.880,87,7.0015,2,2012,12,19,8
9371,3,0,1,1,25.42,30.305,69,7.0015,3,2012,9,13,20
2034,2,0,1,1,27.06,31.060,39,0.0000,2,2011,5,11,16
7224,2,0,1,2,18.86,22.725,72,0.0000,3,2012,4,19,9
2856,3,0,1,1,30.34,34.090,62,11.0014,3,2011,7,7,22
9445,3,0,0,1,22.96,26.515,68,6.0032,6,2012,9,16,22
6173,1,0,1,1,9.02,11.365,37,12.9980,0,2012,2,13,11
1219,1,0,1,2,15.58,19.695,46,19.9995,1,2011,3,15,14
7542,2,0,0,1,29.52,32.575,45,23.9994,6,2012,5,13,15
8859,3,0,0,1,31.16,35.605,58,15.0013,5,2012,8,11,12
4128,4,0,1,2,16.40,20.455,87,7.0015,1,2011,10,4,1
4097,4,0,0,2,14.76,17.425,81,12.9980,6,2011,10,2,18
2510,2,0,0,1,33.62,37.880,46,0.0000,6,2011,6,12,12
7044,2,0,1,1,13.94,15.150,57,26.0027,2,2012,4,11,21
8193,3,0,1,1,34.44,36.365,32,11.0014,0,2012,7,2,18
5441,1,0,0,3,17.22,21.210,67,26.0027,6,2012,1,1,19
5371,4,0,0,1,8.20,10.605,75,11.0014,5,2011,12,17,21
3952,3,0,1,3,19.68,23.485,82,31.0009,3,2011,9,15,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,4,0,1,1,13.94,16.665,57,11.0014,3,2012,11,1,23
9167,3,0,1,1,29.52,34.850,74,12.9980,2,2012,9,5,8
2747,3,0,0,1,28.70,33.335,74,16.9979,6,2011,7,3,9
2047,2,0,1,1,17.22,21.210,94,8.9981,3,2011,5,12,5
7849,2,0,1,1,24.60,30.305,64,6.0032,3,2012,6,7,10
2558,2,0,1,1,26.24,31.060,41,23.9994,1,2011,6,14,12
9274,3,0,0,1,27.06,31.060,36,16.9979,6,2012,9,9,19
8666,3,0,1,2,34.44,39.395,49,19.0012,4,2012,8,3,11
6396,1,0,0,1,20.50,24.240,25,16.9979,5,2012,3,3,18
3385,3,0,1,1,30.34,32.575,37,6.0032,2,2011,8,10,23
4555,4,0,1,1,15.58,19.695,71,8.9981,2,2011,11,2,21
1184,1,0,1,1,10.66,14.395,65,6.0032,0,2011,3,14,1
6420,1,0,0,1,13.12,13.635,33,40.9973,6,2012,3,4,18
5051,4,0,0,1,16.40,20.455,66,15.0013,6,2011,12,4,13
5311,4,0,1,2,14.76,16.665,62,19.0012,3,2011,12,15,9
2433,2,0,1,2,29.52,34.850,79,8.9981,3,2011,6,9,7
6949,2,0,0,1,20.50,24.240,20,12.9980,5,2012,4,7,21
10583,4,0,1,2,12.30,15.150,81,8.9981,4,2012,12,7,9
769,1,0,1,1,10.66,12.120,25,16.9979,1,2011,2,15,11
1685,2,0,0,2,14.76,17.425,87,11.0014,5,2011,4,16,3
8322,3,0,0,1,32.80,38.635,59,7.0015,6,2012,7,8,3
5578,1,0,0,1,18.04,21.970,44,12.9980,5,2012,1,7,13
4426,4,0,0,1,22.96,26.515,35,19.0012,6,2011,10,16,11
466,1,0,1,2,9.84,11.365,93,15.0013,2,2011,2,2,12
6265,1,0,1,2,11.48,14.395,93,7.0015,4,2012,2,17,7
5734,1,0,0,1,6.56,8.335,47,11.0014,5,2012,1,14,2
5191,4,0,0,1,11.48,12.880,61,19.0012,5,2011,12,10,9
5390,4,0,0,1,11.48,13.635,48,16.9979,6,2011,12,18,16
860,1,0,0,1,15.58,19.695,17,35.0008,5,2011,2,19,7
7270,2,0,1,2,22.14,25.760,88,12.9980,2,2012,5,2,7

In [11]:
from sklearn.svm import LinearSVR

In [12]:
from sklearn.model_selection import cross_val_score

In [13]:
best_score = 0
parameters = {}

In [14]:
from tqdm import tqdm

In [15]:
for C in tqdm([1e-4, 1e-3, 1e-2, 1e-1, 0.5, 1., 5., 10., 15., 20., 25.]):
    for tol in [1e-5, 1e-4, 1e-3, 1e-2, 1e-1]:
        for dual in [True, False]:
            for epsilon in [1e-4, 1e-3, 1e-2, 1e-1, 1]:
                for loss in ["epsilon_insensitive", "squared_epsilon_insensitive"]:
                    clf = LinearSVR(C = C, tol = tol, dual = dual, loss = loss, epsilon = epsilon)
                    try:
                        scores = cross_val_score(clf, X_train, y_train, cv = 5)
                    except ValueError as e:
                        #print(e)
                        continue
                    if scores.mean() > best_score:
                        parameters["C"] = C
                        parameters["tol"] = tol
                        parameters["dual"] = dual
                        parameters["loss"] = loss
                        parameters["epsilon"] = epsilon
                        best_score = scores.mean()
                        print("R^2: {}".format(scores.mean()))
                        print("C: {}, tol: {}, dual: {}, loss: {}, epsilon: {}".format(C, tol, dual, loss,epsilon))

  0%|          | 0/11 [00:00<?, ?it/s]

Accuracy: 0.08320041084742066
C: 0.0001, tol: 1e-05, dual: True, loss: epsilon_insensitive, epsilon: 0.0001
Accuracy: 0.23706339228058804
C: 0.0001, tol: 1e-05, dual: True, loss: squared_epsilon_insensitive, epsilon: 0.0001
Accuracy: 0.2398281449267965
C: 0.0001, tol: 1e-05, dual: True, loss: squared_epsilon_insensitive, epsilon: 0.001
Accuracy: 0.24216479192776
C: 0.0001, tol: 1e-05, dual: True, loss: squared_epsilon_insensitive, epsilon: 0.01
Accuracy: 0.2698733435839434
C: 0.0001, tol: 1e-05, dual: False, loss: squared_epsilon_insensitive, epsilon: 0.0001
Accuracy: 0.26987649698572114
C: 0.0001, tol: 1e-05, dual: False, loss: squared_epsilon_insensitive, epsilon: 0.001
Accuracy: 0.2698766999802586
C: 0.0001, tol: 1e-05, dual: False, loss: squared_epsilon_insensitive, epsilon: 0.1

  9%|▉         | 1/11 [01:14<12:25, 74.51s/it]

Accuracy: 0.2737062565649214
C: 0.001, tol: 1e-05, dual: False, loss: squared_epsilon_insensitive, epsilon: 0.0001

 18%|█▊        | 2/11 [02:41<12:05, 80.56s/it]

Accuracy: 0.2748027042438189
C: 0.01, tol: 1e-05, dual: False, loss: squared_epsilon_insensitive, epsilon: 0.0001
Accuracy: 0.2748485718743977
C: 0.01, tol: 1e-05, dual: False, loss: squared_epsilon_insensitive, epsilon: 1

 27%|██▋       | 3/11 [04:36<12:18, 92.26s/it]

Accuracy: 0.27495044767356425
C: 0.1, tol: 1e-05, dual: False, loss: squared_epsilon_insensitive, epsilon: 0.1

 55%|█████▍    | 6/11 [10:43<08:56, 107.31s/it]

Accuracy: 0.275016174374126
C: 5.0, tol: 1e-05, dual: False, loss: squared_epsilon_insensitive, epsilon: 0.1

100%|██████████| 11/11 [20:18<00:00, 110.79s/it]

In [16]:
parameters

{'C': 5.0,
 'tol': 1e-05,
 'dual': False,
 'loss': 'squared_epsilon_insensitive',
 'epsilon': 0.1}

In [17]:
clf = LinearSVR(C = parameters["C"], tol = parameters["tol"], dual = parameters["dual"], epsilon = parameters["epsilon"], 
                loss = parameters["loss"])

In [18]:
def rmsle(y, y_pred):
    assert len(y) == len(y_pred)
    return np.sqrt(np.mean((np.log(1+y_pred) - np.log(1+y))**2))

rmsle_score = make_scorer(rmsle, greater_is_better = False)

In [19]:
clf.fit(X_train, y_train)

LinearSVR(C=5.0, dual=False, epsilon=0.1, fit_intercept=True,
     intercept_scaling=1.0, loss='squared_epsilon_insensitive',
     max_iter=1000, random_state=None, tol=1e-05, verbose=0)

In [20]:
eli5.explain_weights(clf, feature_names=X_train.columns.values)

Explanation(estimator="LinearSVR(C=5.0, dual=False, epsilon=0.1, fit_intercept=True,\n     intercept_scaling=1.0, loss='squared_epsilon_insensitive',\n     max_iter=1000, random_state=None, tol=1e-05, verbose=0)", description="\nFeatures with largest coefficients.\nCaveats:\n1. Be careful with features which are not\n   independent - weights don't show their importance.\n2. If scale of input features is different then scale of coefficients\n   will also be different, making direct comparison between coefficient values\n   incorrect.\n3. Depending on regularization, rare features sometimes may have high\n   coefficients; this doesn't mean they contribute much to the\n   classification result for most examples.\n", error=None, method='linear model', is_regression=True, targets=[TargetExplanation(target='y', feature_weights=FeatureWeights(pos=[FeatureWeight(feature='workingday', weight=37.23749957624169, std=None, value=None), FeatureWeight(feature='month', weight=8.44322381477414, std=None, value=None), FeatureWeight(feature='hour', weight=6.580618534653082, std=None, value=None), FeatureWeight(feature='atemp', weight=3.873626515983628, std=None, value=None), FeatureWeight(feature='day', weight=0.32234185650246183, std=None, value=None), FeatureWeight(feature='windspeed', weight=0.3148283159443103, std=None, value=None), FeatureWeight(feature='year', weight=0.005076663012708175, std=None, value=None)], neg=[FeatureWeight(feature='season', weight=-3.8354187881376016, std=None, value=None), FeatureWeight(feature='holiday', weight=-3.2591925476703096, std=None, value=None), FeatureWeight(feature='weather', weight=-3.2375699602628303, std=None, value=None), FeatureWeight(feature='humidity', weight=-1.501443087852894, std=None, value=None), FeatureWeight(feature='dayofweek', weight=-0.3281706130421931, std=None, value=None), FeatureWeight(feature='<BIAS>', weight=-0.20753776816389669, std=None, value=None), FeatureWeight(feature='temp', weight=-0.04595729868982029, std=None, value=None)], pos_remaining=0, neg_remaining=0), proba=None, score=None, weighted_spans=None)], feature_importances=None, decision_tree=None, highlight_spaces=None, transition_features=None)

In [21]:
y_pred = clf.predict(X_test)

In [23]:
wyniki = pd.DataFrame(y_test) 
wyniki["y_pred"] = y_pred #dokljamy kolumnę z predykcją
wyniki.rename(columns = {"Klasa":"y_test"}, inplace = True)

In [25]:
wewnetrzny_test = rmsle(y_pred = wyniki["y_pred"], y = wyniki["registered"])
print(wewnetrzny_test)

1.222130358698215

/home/kursant/anaconda3/envs/isa/lib/python3.6/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
kaggle = pd.read_csv("test.csv")
to_submit = kaggle

In [27]:
kaggle = transform_dates(kaggle)
kaggle = kaggle.drop(["datetime"], axis = 1)

In [29]:
to_submit["registered"] = clf.predict(kaggle)

In [30]:
to_submit

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,dayofweek,year,month,day,hour,registered
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3,2011,1,20,0,21.711125
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,2011,1,20,1,28.898490
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,2011,1,20,2,35.479108
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,2011,1,20,3,42.598691
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,2011,1,20,4,49.179310
5,2011-01-20 05:00:00,1,0,1,1,9.84,11.365,60,15.0013,3,2011,1,20,5,45.182578
6,2011-01-20 06:00:00,1,0,1,1,9.02,10.605,60,15.0013,3,2011,1,20,6,48.856926
7,2011-01-20 07:00:00,1,0,1,1,9.02,10.605,55,15.0013,3,2011,1,20,7,62.944760
8,2011-01-20 08:00:00,1,0,1,1,9.02,10.605,55,19.0012,3,2011,1,20,8,70.784660
9,2011-01-20 09:00:00,1,0,1,2,9.84,11.365,52,15.0013,3,2011,1,20,9,80.279027
10,2011-01-20 10:00:00,1,0,1,1,10.66,11.365,48,19.9995,3,2011,1,20,10,97.638878
11,2011-01-20 11:00:00,1,0,1,2,11.48,13.635,45,11.0014,3,2011,1,20,11,111.408846
12,2011-01-20 12:00:00,1,0,1,2,12.30,16.665,42,0.0000,3,2011,1,20,12,130.729645
13,2011-01-20 13:00:00,1,0,1,2,11.48,14.395,45,7.0015,3,2011,1,20,13,126.254758
14,2011-01-20 14:00:00,1,0,1,2,12.30,15.150,45,8.9981,3,2011,1,20,14,136.350866
15,2011-01-20 15:00:00,1,0,1,2,13.12,15.910,45,12.9980,3,2011,1,20,15,147.097037
16,2011-01-20 16:00:00,1,0,1,2,12.30,15.150,49,8.9981,3,2011,1,20,16,143.506330
17,2011-01-20 17:00:00,1,0,1,2,12.30,15.910,49,7.0015,3,2011,1,20,17,152.402319
18,2011-01-20 18:00:00,1,0,1,2,10.66,12.880,56,12.9980,3,2011,1,20,18,138.698985
19,2011-01-20 19:00:00,1,0,1,1,10.66,11.365,56,22.0028,3,2011,1,20,19,145.483596
20,2011-01-20 20:00:00,1,0,1,2,10.66,12.120,60,19.0012,3,2011,1,20,20,144.800471
21,2011-01-20 21:00:00,1,0,1,2,9.84,11.365,60,16.9979,3,2011,1,20,21,147.863491
22,2011-01-20 22:00:00,1,0,1,2,9.84,10.605,65,19.0012,3,2011,1,20,22,144.623634
23,2011-01-20 23:00:00,1,0,1,2,9.84,10.605,65,22.0028,3,2011,1,20,23,152.149241
24,2011-01-21 00:00:00,1,0,1,2,9.84,11.365,70,16.9979,4,2011,1,21,0,-5.349758
25,2011-01-21 01:00:00,1,0,1,2,9.84,11.365,70,16.9979,4,2011,1,21,1,1.230861
26,2011-01-21 02:00:00,1,0,1,3,9.84,12.120,75,11.0014,4,2011,1,21,2,-1.896586
27,2011-01-21 03:00:00,1,0,1,3,9.02,10.605,80,19.9995,4,2011,1,21,3,-5.821185
28,2011-01-21 04:00:00,1,0,1,2,9.02,12.880,87,6.0032,4,2011,1,21,4,-2.107030
29,2011-01-21 05:00:00,1,0,1,1,9.84,9.850,60,27.9993,4,2011,1,21,5,43.400344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,2012-12-30 18:00:00,1,0,0,2,9.84,10.605,44,19.9995,6,2012,12,30,18,208.027703
6464,2012-12-30 19:00:00,1,0,0,1,13.94,18.180,61,0.0000,6,2012,12,30,19,215.179246
6465,2012-12-30 20:00:00,1,0,0,1,9.02,9.850,47,22.0028,6,2012,12,30,20,217.665974
6466,2012-12-30 21:00:00,1,0,0,1,8.20,10.605,51,11.0014,6,2012,12,30,21,217.739541
6467,2012-12-30 22:00:00,1,0,0,1,8.20,9.850,55,12.9980,6,2012,12,30,22,216.018385
6468,2012-12-30 23:00:00,1,0,0,1,8.20,9.850,51,15.0013,6,2012,12,30,23,229.235471
6469,2012-12-31 00:00:00,1,0,1,1,7.38,9.090,55,12.9980,0,2012,12,31,0,107.867371
6470,2012-12-31 01:00:00,1,0,1,1,7.38,9.090,55,12.9980,0,2012,12,31,1,114.447990
6471,2012-12-31 02:00:00,1,0,1,1,6.56,8.335,59,11.0014,0,2012,12,31,2,111.507347
6472,2012-12-31 03:00:00,1,0,1,1,6.56,9.090,59,7.0015,0,2012,12,31,3,119.753271
6473,2012-12-31 04:00:00,1,0,1,1,5.74,8.335,69,7.0015,0,2012,12,31,4,108.432556
6474,2012-12-31 05:00:00,1,0,1,1,6.56,7.575,64,12.9980,0,2012,12,31,5,121.426617
6475,2012-12-31 06:00:00,1,0,1,1,6.56,8.335,64,11.0014,0,2012,12,31,6,130.322605
6476,2012-12-31 07:00:00,1,0,1,1,6.56,9.090,64,8.9981,0,2012,12,31,7,139.197116
6477,2012-12-31 08:00:00,1,0,1,1,5.74,7.575,69,8.9981,0,2012,12,31,8,132.439660
6478,2012-12-31 09:00:00,1,0,1,2,7.38,10.605,64,7.0015,0,2012,12,31,9,154.323056
6479,2012-12-31 10:00:00,1,0,1,2,8.20,10.605,69,8.9981,0,2012,12,31,10,153.987361
6480,2012-12-31 11:00:00,1,0,1,2,9.02,11.365,60,12.9980,0,2012,12,31,11,178.246520
6481,2012-12-31 12:00:00,1,0,1,2,9.84,11.365,56,12.9980,0,2012,12,31,12,190.795226
6482,2012-12-31 13:00:00,1,0,1,2,10.66,12.880,44,11.0014,0,2012,12,31,13,220.595434
6483,2012-12-31 14:00:00,1,0,1,2,11.48,13.635,45,15.0013,0,2012,12,31,14,229.820795
6484,2012-12-31 15:00:00,1,0,1,2,11.48,14.395,45,8.9981,0,2012,12,31,15,237.455392
6485,2012-12-31 16:00:00,1,0,1,2,10.66,12.880,48,12.9980,0,2012,12,31,16,234.960104
6486,2012-12-31 17:00:00,1,0,1,2,10.66,14.395,48,6.0032,0,2012,12,31,17,245.207106
6487,2012-12-31 18:00:00,1,0,1,2,10.66,13.635,48,8.9981,0,2012,12,31,18,249.786647
6488,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,0,2012,12,31,19,236.056056
6489,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,0,2012,12,31,20,242.636675
6490,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,0,2012,12,31,21,252.454863
6491,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,0,2012,12,31,22,267.335147
6492,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,0,2012,12,31,23,260.402777