In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, make_scorer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
#from tqdm import tqdm
import eli5

In [3]:
from sklearn.ensemble import RandomForestRegressor

Loading data

In [4]:
train_bike = pd.read_csv("train.csv")

#test_bike = pd.read_csv("test.csv")

In [5]:
train_bike["datetime"].head()

0    2011-01-01 00:00:00
1    2011-01-01 01:00:00
2    2011-01-01 02:00:00
3    2011-01-01 03:00:00
4    2011-01-01 04:00:00
Name: datetime, dtype: object

In [6]:
train_bike["datetime"] = pd.to_datetime(train_bike["datetime"])

train_bike["datetime"].describe()

count                   10886
unique                  10886
top       2011-06-09 04:00:00
freq                        1
first     2011-01-01 00:00:00
last      2012-12-19 23:00:00
Name: datetime, dtype: object

In [7]:
def transform_dates(dataframe):
    dataframe["datetime"] = pd.to_datetime(dataframe["datetime"])
    dataframe["dayofweek"] = dataframe["datetime"].dt.dayofweek      #The day of the week with Monday=0, Sunday=6
    dataframe["year"] = dataframe["datetime"].dt.year
    dataframe["month"] = dataframe["datetime"].dt.month
    dataframe["day"] = dataframe["datetime"].dt.day
    dataframe["hour"] = dataframe["datetime"].dt.hour
    return dataframe

In [8]:
train_bike = transform_dates(train_bike)

In [9]:
X = train_bike.drop(["count", "casual", "registered", "datetime"], axis = 1)
y = train_bike["registered"]

In [10]:
from sklearn.model_selection import train_test_split #dzielnie na zetsawy
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, random_state=42)

In [11]:
# best_score = 0
# parameters = {}

In [12]:
#from tqdm import tqdm

In [13]:
# for n_estimators in tqdm(range(2)):
#     for max_features in np.arange(0.2, 1.01, 0.2):
#         for min_samples_split in range(2,21):
#             for min_samples_leaf in range(1,21):
#                 for criterion in ["mse", "mae"]:
#                     for bootstrap in [True, False]:
#                         clf_rfr = RandomForestRegressor(n_estimators = n_estimators, max_features = max_features, min_samples_split = min_samples_split, 
#                                                      min_samples_leaf = min_samples_leaf, criterion = criterion,
#                                                       bootstrap = bootstrap )
#                         print("jhkjhkj")
#                         try:
#                             scores = cross_val_score(clf_rfr, X_train, y_train, cv = 5)
#                         except ValueError as e:
#                             print(e)
#                             continue
#                         if scores.mean() > best_score:
#                             #print("New best parameters!")
#                             parameters["n_estimators"] = n_estimators
#                             parameters["best_features"] = max_features
#                             parameters["best_min_split"] = min_samples_split
#                             parameters["best_min_leaf"] = min_samples_leaf
#                             parameters["best_criterion"] = criterion
#                             parameters["bootstrap"] = bootstrap
#                             best_score = scores.mean()
#                             print("Accuracy: {}".format(scores.mean()))
#                             print("n_estimators: {}, max_features: {}, min_samples_split: {}, min_samples_leaf: {}, criterion: {}, bootstrap: {}".format(n_estimators, max_features, 
#                                                                                                                      min_samples_split, 
#                                                                                                              min_samples_leaf, 
#                                                                                                              criterion, bootstrap))

In [14]:
parameters = {'n_estimators': [20], 'max_features': np.arange(0.1, 1.01, 0.1),
              'bootstrap': [True, False], 'criterion': ["mse", "mae"]}
forest = RandomForestRegressor()

In [15]:
def rmsle(y, y_pred):
    assert len(y) == len(y_pred)
    return np.sqrt(np.mean((np.log(1+y_pred) - np.log(1+y))**2))

rmsle_score = make_scorer(rmsle, greater_is_better = False)

In [16]:
regressor = GridSearchCV(estimator = forest, param_grid = parameters, 
                         return_train_score=True, scoring = rmsle_score)

In [17]:
#clf_rfr = RandomForestRegressor(criterion = 'mse')

In [18]:
regressor.fit(X = X_train, y = y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': [20], 'max_features': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]), 'bootstrap': [True, False], 'criterion': ['mse', 'mae']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=make_scorer(rmsle, greater_is_better=False), verbose=0)

In [19]:
eli5.explain_weights(regressor.best_estimator_, feature_names=X_train.columns.values)

Explanation(estimator="RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,\n           max_features=1.0, max_leaf_nodes=None,\n           min_impurity_decrease=0.0, min_impurity_split=None,\n           min_samples_leaf=1, min_samples_split=2,\n           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,\n           oob_score=False, random_state=None, verbose=0, warm_start=False)", description='\nRandom forest feature importances; values are numbers 0 <= x <= 1;\nall values sum to 1.\n', error=None, method='feature importances', is_regression=True, targets=None, feature_importances=FeatureImportances(importances=[FeatureWeight(feature='hour', weight=0.5899875743258585, std=0.005993129055785593, value=None), FeatureWeight(feature='workingday', weight=0.1275395435951496, std=0.017080858265420752, value=None), FeatureWeight(feature='year', weight=0.09100594792726932, std=0.005389233663955918, value=None), FeatureWeight(feature='month', weight=0.06033151334035116, std=0.006481683200259827, value=None), FeatureWeight(feature='dayofweek', weight=0.02643615303239611, std=0.017201703077506344, value=None), FeatureWeight(feature='temp', weight=0.024794710192667775, std=0.008892622127102276, value=None), FeatureWeight(feature='humidity', weight=0.023167312079464045, std=0.004592878554704761, value=None), FeatureWeight(feature='atemp', weight=0.020666198649537733, std=0.008362981156229207, value=None), FeatureWeight(feature='weather', weight=0.014209561269220622, std=0.004041444461286904, value=None), FeatureWeight(feature='day', weight=0.008065418681174167, std=0.0015036637211913618, value=None), FeatureWeight(feature='windspeed', weight=0.007003018268737756, std=0.001507166248402381, value=None), FeatureWeight(feature='season', weight=0.005968447153956054, std=0.004482630254383914, value=None), FeatureWeight(feature='holiday', weight=0.0008246014842172671, std=0.0006844350542696806, value=None)], remaining=0), decision_tree=None, highlight_spaces=None, transition_features=None)

In [20]:
predicted = regressor.predict(X_test) #robimy predyckję
wyniki = pd.DataFrame(y_test) 
wyniki["y_pred"] = predicted #dokljamy kolumnę z predykcją
wyniki.rename(columns = {"Klasa":"y_test"}, inplace = True)

In [21]:
wyniki

       registered  y_pred
3133           98   95.15
5786           13   38.30
5224          151  139.05
8953          163  152.75
8054          176  141.20
10044         135  152.35
5337          135  120.50
2753          182  179.50
10127         583  645.20
33             46   53.50
4634            6    7.70
8104            5   13.70
2855          170  162.95
3460           49   47.95
1408           92  101.75
3844            6    9.00
9257           81   62.35
1056           73   65.95
3837          171  113.30
3079            8    7.85
1608           47   55.75
1768           88   94.90
10720           5   12.05
2507          107  137.85
6906            5    6.85
7051            1    1.85
7361           64   63.45
3487           14   24.30
483            39   32.15
3704            5   38.90
...           ...     ...
7109          372  336.10
7171            6    4.80
8071          304  340.45
2770           44  130.75
10166          46   46.25
6756          234  259.70
10499         207  172.90
8249           14    7.00
1075          238  217.70
3755           63   66.10
5874           55   54.55
10635         220  249.80
3209           87  116.15
5584          171  224.30
8062           68   63.40
7720           61   76.15
10309          78   85.05
5692          497  448.90
4657            3    4.20
5120           32   37.50
2379            2   13.20
7055          604  578.25
1602           80   67.10
73              4    6.60
10437          56   55.85
5317           76  131.80
5226           62  106.40
8568          253  268.50
3428          376  387.15
6992          310  290.70

[3593 rows x 2 columns]

In [22]:
wewnetrzny_test = rmsle(y_pred = wyniki["y_pred"], y = wyniki["registered"])
print(wewnetrzny_test)

0.3208863937411223

In [28]:
kaggle = pd.read_csv("test.csv")
to_submit = kaggle

In [29]:
kaggle = transform_dates(kaggle)
kaggle = kaggle.drop(["datetime"], axis = 1)

In [32]:
to_submit["registered"] = regressor.predict(kaggle)

In [33]:
to_submit

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,dayofweek,year,month,day,hour,count,registered
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3,2011,1,20,0,13.55,13.55
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,2011,1,20,1,5.50,5.50
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,2011,1,20,2,6.05,6.05
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,2011,1,20,3,2.70,2.70
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,2011,1,20,4,2.50,2.50
5,2011-01-20 05:00:00,1,0,1,1,9.84,11.365,60,15.0013,3,2011,1,20,5,4.20,4.20
6,2011-01-20 06:00:00,1,0,1,1,9.02,10.605,60,15.0013,3,2011,1,20,6,33.00,33.00
7,2011-01-20 07:00:00,1,0,1,1,9.02,10.605,55,15.0013,3,2011,1,20,7,90.90,90.90
8,2011-01-20 08:00:00,1,0,1,1,9.02,10.605,55,19.0012,3,2011,1,20,8,213.45,213.45
9,2011-01-20 09:00:00,1,0,1,2,9.84,11.365,52,15.0013,3,2011,1,20,9,114.75,114.75
10,2011-01-20 10:00:00,1,0,1,1,10.66,11.365,48,19.9995,3,2011,1,20,10,48.25,48.25
11,2011-01-20 11:00:00,1,0,1,2,11.48,13.635,45,11.0014,3,2011,1,20,11,52.35,52.35
12,2011-01-20 12:00:00,1,0,1,2,12.30,16.665,42,0.0000,3,2011,1,20,12,80.45,80.45
13,2011-01-20 13:00:00,1,0,1,2,11.48,14.395,45,7.0015,3,2011,1,20,13,62.60,62.60
14,2011-01-20 14:00:00,1,0,1,2,12.30,15.150,45,8.9981,3,2011,1,20,14,71.05,71.05
15,2011-01-20 15:00:00,1,0,1,2,13.12,15.910,45,12.9980,3,2011,1,20,15,75.85,75.85
16,2011-01-20 16:00:00,1,0,1,2,12.30,15.150,49,8.9981,3,2011,1,20,16,81.50,81.50
17,2011-01-20 17:00:00,1,0,1,2,12.30,15.910,49,7.0015,3,2011,1,20,17,186.50,186.50
18,2011-01-20 18:00:00,1,0,1,2,10.66,12.880,56,12.9980,3,2011,1,20,18,174.95,174.95
19,2011-01-20 19:00:00,1,0,1,1,10.66,11.365,56,22.0028,3,2011,1,20,19,110.35,110.35
20,2011-01-20 20:00:00,1,0,1,2,10.66,12.120,60,19.0012,3,2011,1,20,20,73.85,73.85
21,2011-01-20 21:00:00,1,0,1,2,9.84,11.365,60,16.9979,3,2011,1,20,21,45.10,45.10
22,2011-01-20 22:00:00,1,0,1,2,9.84,10.605,65,19.0012,3,2011,1,20,22,39.85,39.85
23,2011-01-20 23:00:00,1,0,1,2,9.84,10.605,65,22.0028,3,2011,1,20,23,18.10,18.10
24,2011-01-21 00:00:00,1,0,1,2,9.84,11.365,70,16.9979,4,2011,1,21,0,19.40,19.40
25,2011-01-21 01:00:00,1,0,1,2,9.84,11.365,70,16.9979,4,2011,1,21,1,5.90,5.90
26,2011-01-21 02:00:00,1,0,1,3,9.84,12.120,75,11.0014,4,2011,1,21,2,7.95,7.95
27,2011-01-21 03:00:00,1,0,1,3,9.02,10.605,80,19.9995,4,2011,1,21,3,3.00,3.00
28,2011-01-21 04:00:00,1,0,1,2,9.02,12.880,87,6.0032,4,2011,1,21,4,2.20,2.20
29,2011-01-21 05:00:00,1,0,1,1,9.84,9.850,60,27.9993,4,2011,1,21,5,4.85,4.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,2012-12-30 18:00:00,1,0,0,2,9.84,10.605,44,19.9995,6,2012,12,30,18,189.60,189.60
6464,2012-12-30 19:00:00,1,0,0,1,13.94,18.180,61,0.0000,6,2012,12,30,19,133.20,133.20
6465,2012-12-30 20:00:00,1,0,0,1,9.02,9.850,47,22.0028,6,2012,12,30,20,96.55,96.55
6466,2012-12-30 21:00:00,1,0,0,1,8.20,10.605,51,11.0014,6,2012,12,30,21,71.60,71.60
6467,2012-12-30 22:00:00,1,0,0,1,8.20,9.850,55,12.9980,6,2012,12,30,22,54.25,54.25
6468,2012-12-30 23:00:00,1,0,0,1,8.20,9.850,51,15.0013,6,2012,12,30,23,41.25,41.25
6469,2012-12-31 00:00:00,1,0,1,1,7.38,9.090,55,12.9980,0,2012,12,31,0,22.40,22.40
6470,2012-12-31 01:00:00,1,0,1,1,7.38,9.090,55,12.9980,0,2012,12,31,1,14.50,14.50
6471,2012-12-31 02:00:00,1,0,1,1,6.56,8.335,59,11.0014,0,2012,12,31,2,10.80,10.80
6472,2012-12-31 03:00:00,1,0,1,1,6.56,9.090,59,7.0015,0,2012,12,31,3,4.85,4.85
6473,2012-12-31 04:00:00,1,0,1,1,5.74,8.335,69,7.0015,0,2012,12,31,4,7.90,7.90
6474,2012-12-31 05:00:00,1,0,1,1,6.56,7.575,64,12.9980,0,2012,12,31,5,35.10,35.10
6475,2012-12-31 06:00:00,1,0,1,1,6.56,8.335,64,11.0014,0,2012,12,31,6,131.10,131.10
6476,2012-12-31 07:00:00,1,0,1,1,6.56,9.090,64,8.9981,0,2012,12,31,7,324.60,324.60
6477,2012-12-31 08:00:00,1,0,1,1,5.74,7.575,69,8.9981,0,2012,12,31,8,597.05,597.05
6478,2012-12-31 09:00:00,1,0,1,2,7.38,10.605,64,7.0015,0,2012,12,31,9,246.00,246.00
6479,2012-12-31 10:00:00,1,0,1,2,8.20,10.605,69,8.9981,0,2012,12,31,10,109.30,109.30
6480,2012-12-31 11:00:00,1,0,1,2,9.02,11.365,60,12.9980,0,2012,12,31,11,136.50,136.50
6481,2012-12-31 12:00:00,1,0,1,2,9.84,11.365,56,12.9980,0,2012,12,31,12,188.55,188.55
6482,2012-12-31 13:00:00,1,0,1,2,10.66,12.880,44,11.0014,0,2012,12,31,13,188.95,188.95
6483,2012-12-31 14:00:00,1,0,1,2,11.48,13.635,45,15.0013,0,2012,12,31,14,178.45,178.45
6484,2012-12-31 15:00:00,1,0,1,2,11.48,14.395,45,8.9981,0,2012,12,31,15,192.25,192.25
6485,2012-12-31 16:00:00,1,0,1,2,10.66,12.880,48,12.9980,0,2012,12,31,16,239.90,239.90
6486,2012-12-31 17:00:00,1,0,1,2,10.66,14.395,48,6.0032,0,2012,12,31,17,479.55,479.55
6487,2012-12-31 18:00:00,1,0,1,2,10.66,13.635,48,8.9981,0,2012,12,31,18,436.35,436.35
6488,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,0,2012,12,31,19,303.55,303.55
6489,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,0,2012,12,31,20,227.05,227.05
6490,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,0,2012,12,31,21,143.75,143.75
6491,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,0,2012,12,31,22,104.45,104.45
6492,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,0,2012,12,31,23,65.95,65.95

In [ ]:
#prediction_rfr = clf_rfr.predict(X_test)

In [ ]:
#prediction_rfr